@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>You're invited to A Pumpkin Carving Party<br>
    Saturday October 24<br>
    1-4 PM
    1313 Jack Lantern Drive, Spookytown<br>
    B.Y.O.P (Bring your own pumpkin)<br>
    RSVP here by Oct. 17<br>
    Join Us For A<br>
    Halloween Pumpkin Carving Party<br>
    We've Got the pumpkins (and Refreshments, Too!)<br>
    Bring your own pumpkin and we will have some fun!!! </p>
