@{
    ViewData["Title"] = "Gallery";
}
<h1>@ViewData["Title"]</h1>

<img src="~/images/mcdonalds.png" height="113" width="150" asp-append-version="true" />

<p>This is  a Mcdonalds hashbrown. <br>
    Someone bit into this hashbrown but either missed or didn't understand how to bite into it.
    </p>

<img src="~/images/pacman.png" height="113" width="150" asp-append-version="true" />

<p>This is a realistic rendering of the iconic game character PacMan.<br>
    The artist seemed to have used both a grapefruit and googly-eyes to make this piece.<br></p>

<img src="~/images/hm.png" height="113" width="150" asp-append-version="true" />

<p>This is a story, relatable to many Computer Science students. <br>
    Waking up, excited to be productive, then procastinating until the day is gone.</p>

<img src="~/images/rushA.png" height="113" width="150" asp-append-version="true" />

<p>This is a woman playing the video game Counter Strike. <br>
    She is directing her students to do the iconic strategy: Fake A, Rush B</p>